table {
  width: 100%;
  overflow-x: auto;
  vertical-align: middle;
  border-spacing: 0;
}

table > thead th {
  padding: 0.75rem 0.5rem;
  background-color: var(--theme-color-primary);
}

table > tbody td {
  padding: 0.25rem 0;
  font-size: 15px;
  text-align: center;
}

table > tbody td button svg path {
  fill: #7a7a7a;
}
