.project-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

@media only screen and (max-width: 1199px) {
    .project-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 991px) {
    .project-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 767px) {
    .project-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

.project-card {
    padding: 1rem;
    border: 1px solid #000;
}

.project-card__thumbnail {
    padding: 0 0 .5rem 0;
    margin: 0;
}

.project-card__title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: .5rem;
}

.project-card__description {
    font-size: 14px;
    margin: 0;
}

.project-card__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: .75rem;
}

.project-card__date {
    color: #999;
    font-size: 13px;
    margin-right: .5rem;
}

.project-card__link {
    color: var(--theme-color-secondary);
    font-size: 14px;
    font-weight: bold;
}